<!DOCTYPE html>
<html lang="en" ng-app="TableModule">

<head>
    <meta charset="UTF-8">
    <script src="https://www.amcharts.com/lib/3/amcharts.js"></script>
    <script src="https://www.amcharts.com/lib/3/serial.js"></script>
    <script src="https://www.amcharts.com/lib/3/plugins/export/export.min.js"></script>
    <link rel="stylesheet" href="https://www.amcharts.com/lib/3/plugins/export/export.css" type="text/css" media="all" />
    <script src="https://www.amcharts.com/lib/3/themes/light.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angularFire/2.3.0/angularfire.js"></script>
    <script src="https://www.gstatic.com/firebasejs/4.13.0/firebase.js"></script>
    <script src="https://www.amcharts.com/lib/3/plugins/responsive/responsive.min.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.14/components/message.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.14/components/button.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.2.3/animate.min.css">
    <title>OrderBook</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style type="text/css">
        html,
        body {
            height: 100%;
        }

        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
            font-family: buc;
        }

        b,
        small {
            font-family: buc-med;
        }

        a,
        p,
        .button {
            font-family: buc;
        }

        .myfont {
            font-family: buc;
        }

        @font-face {
            font-family: 'buc';
            src: url('myfont/Gotham-Light.otf');
        }

        @font-face {
            font-family: 'buc-bold';
            src: url('myfont/Gotham-BOld.otf');
        }

        @font-face {
            font-family: 'buc-med';
            src: url('myfont/GothamMedium.ttf');
        }

        .circular {
            margin-left: 20px !important;
        }

        ul.myappmenu {
            display: block;
            padding: 5px;
            border-radius: 50px;
            overflow: hidden;
        }

        ul.myappmenu li {
            transform: scale(0.8);
            border-radius: 30px;
            padding: 0px;
            box-shadow: 0px 0px 0px 10px rgba(0, 0, 0, .0);
            transition: all .3s ease-in-out;
            font-family: buc-bold;
        }

        ul.myappmenu li:hover {
            background-color: rgba(0, 0, 0, .3);
            box-shadow: none;
            box-shadow: 0px 0px 0px 3px rgba(0, 0, 0, .4);
        }

        ul.myappmenu li.active {
            background-color: rgba(0, 0, 0, .4);
        }

        nav ul a {
            font-family: buc-bold;
        }

        nav ul a:hover {
            background: transparent;
        }

        button.button-tab {
            background: -webkit-linear-gradient(180deg, rgb(46, 49, 146) 0%, rgb(41, 171, 226) 100%);
            border-radius: 20px;
        }

        .ref-anim {
            animation: ref-anim .5s ease-in-out 1 normal;
        }
        .ref-anim::after,.ref-anim::before{
            display: block;
            content:'';
            position:absolute;
            width:100%;
            height:100%;
            background-color:rgba(0, 0, 0, .4);
            top:0px;
        }
        .ref-anim::after{
            left:-100%;
        }
        .ref-anim::before{
            right:-100%;
        }

        @keyframes ref-anim {
            from {
                transform: scale(0);
                opacity: 0;
            }
            to {
                transform: scale(1);
                opacity: 1;
            }
        }

        .myscroll-bar::-webkit-scrollbar {
            width: 10px;
            margin-right: 20px;
        }

        .myscroll-bar::-webkit-scrollbar-thumb {
            background-color: #fff;
            border-radius: 10px;

        }

        .ref-anim {
            animation: ref-anim .5s ease-in-out 1 normal;
        }

        .order-anim {
            animation: order-anim .5s ease-out 1 normal;
        }

        @keyframes ref-anim {
            from {
                transform: scale(0);
                opacity: 0;
            }
            to {
                transform: scale(1);
                opacity: 1;
            }
        }

        @keyframes order-anim {
            from {
                top: 100%;
                opacity: 0;
            }
            to {
                top: 100px;
                opacity: 1;
            }
        }

        table.striped>tbody>tr:nth-child(odd) {
            background-color: #fff;
            color: skyblue;
        }

        table.striped>tbody>tr:nth-child(even) {
            background-color: #fff;
            color: skyblue;
        }

        table.striped2>tbody>tr:nth-child(odd) {
            background-color: #fff;
            color: orange;
        }

        table.striped2>tbody>tr:nth-child(even) {
            background-color: #fff;
            color: orange;
        }

        #chartdiv {
            width: 100%;
            height: 400px;
            font-size: 11px;
        }
        table>tbody>tr>td>small{
            font-size: 0.6rem;
        }
        @media only screen and (min-width: 993px) {
            small {
                font-size: 1rem;
            }
            table>tbody>tr>td>small{
                font-size:1rem;
            }
        }
    </style>
</head>

<body ng-controller="tablectrl as tb">
    
    
    
    
    
    
    
    
    <!-- NAVEBAR -->
    <div class="navbar-fixed">
        <nav class="nav-extended z-depth-0" style="background:-webkit-linear-gradient(180deg, rgb(46, 49, 146) 0%, rgb(41, 171, 226) 100%);">
            <div class="nav-wrapper" id="mywalletnav">
                <a href="index.html" class="brand-logo" style="padding-left:50px;">BuyUCoin
                </a>
                <a href="#" data-activates="slide-out" class="button-collapse show-on-large">
                    <i class="material-icons">menu</i>
                </a>
                <ul class="right hide-on-med-and-down myappmenu">
                    <li class="active">
                        <a href="">
                            <i class="material-icons left">account_balance_wallet</i>Wallet</a>
                    </li>
                    <li>
                        <a id="tradelink">
                            <i class="material-icons left">shopping_cart</i>Trade</a>
                    </li>
                    <li>
                        <a href="rates.html">
                            <i class="material-icons left">assessment</i>Rates</a>
                    </li>
                    <li>
                        <a href="">
                            <i class="material-icons left">transfer_within_a_station</i>LogOut</a>
                    </li>
                </ul>
            </div>
            <div class="nav-content">
                <span class="nav-title" style="padding-left:30px;font-size:12px;">TOTAL BALANCE
                    <br>
                    <b style="font-size:2em;">34,67800/-</b>
                </span>
            </div>
        </nav>
    </div>
    <!-- NAVEBAR -->













    <!-- SIDEBAR -->
    <ul id="slide-out" class="side-nav" style="width:250px;">
        <li>
            <div class="user-view">
                <div class="background blue">
                </div>
                <a href="#!user">
                    <img class="circle" src="images/avatar.png">
                </a>
                <a href="#!name">
                    <span class="white-text name">John Doe</span>
                </a>
                <a href="#!email">
                    <span class="white-text email">jdandturk@gmail.com</span>
                </a>
            </div>
        </li>
        <li class="active">
            <a href="index.html">
                <i class="material-icons left">account_balance_wallet</i>Wallet</a>
        </li>
        <li>
            <ul class="collapsible collapsible-accordion white">
                <li>
                    <a class="collapsible-header">Trade
                        <i class="material-icons left">arrow_drop_down</i>
                    </a>
                    <div class="collapsible-body">
                        <ul>
                            <li>
                                <a href="#!">Coin Name</a>
                            </li>
                        </ul>
                    </div>
                </li>
            </ul>
        </li>
        <li>
            <a href="dentacoin.html">
                <i class="material-icons left">monetization_on</i>Dentacoin</a>
        </li>
        <li>
            <a href="rates.html">
                <i class="material-icons left">assessment</i>Rates</a>
        </li>
        <li>
            <a href="kyc.html">
                <i class="material-icons left">chrome_reader_mode</i>KYC</a>
        </li>
        <li>
            <a href="userinfo.html">
                <i class="material-icons left">account_circle</i>User Info</a>
        </li>
        <li>
            <a href="seller.html">
                <i class="material-icons left">pan_tool</i>Become Seller</a>
        </li>
        <li>
            <a href="history.html">
                <i class="material-icons left">pan_tool</i>Become Seller</a>
        </li>
        <li>
            <a href="">
                <i class="material-icons left">transfer_within_a_station</i>LogOut</a>
        </li>



    </ul>
    <!-- SIDEBAR -->












    <!-- ORDER BUTTONS -->
    <div class="row" style="margin-top:110px;">
        <div class="col s6 l3">
            <center>
                <button id="open-buy-order-screen" class=" huge ui button col s12  white-text light-blue" style="border-radius:100px;background-image:url('images/patter.png');background-size:cover;background-position: 50% 50%;">Buy</button>
            </center>
        </div>
        <div class="col s6 l3">
            <center>
                <button id="open-sell-order-screen" class="huge ui button col s12 red" style="border-radius:100px;background-image:url('images/patter.png');background-size:cover;background-position: 70% 50%;">Sell</button>
            </center>
        </div>
    </div>
    <!-- ORDER BUTTONS -->














    <!-- ORDER DETAIL POPUP -->
    <div id="order-details-popup" class="row" style="display:none;">
        <div id="modal1" class="order-anim white z-depth-5 col s10 offset-s1 l4 offset-l4" style="overflow: hidden;padding:0px;border-radius:10px;position: fixed;top:100px;z-index:99999999;">
            <div class="row">
                <div class="row center" style="padding:0px;">
                    <div class="col s12" style="padding:0px;">
                        <div class=" white-text" style="padding:15px;width:100%;background-image:url('images/patter.png');background-size:cover;background-position:0px -835px;">
                            <i class="fab fa-first-order fa-2x"></i>
                            Order Info
                        </div>
                    </div>
                </div>
                <div class="row" style="padding:0px;">
                    <div class="col s12">
                        <div class="col s6">
                            <p>
                                <b>Type</b>
                                <span class="right">Limit Buy</span>
                            </p>
                        </div>
                        <div class="col s6">
                            <p>
                                <b>Market</b>:
                                <span class="right">BTC-INR</span>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col s12">
                    <small>Quantity</small>
                    <span class="right">100.000
                        <i>INR</i>
                    </span>
                </div>
                <div class="col s12">

                    <small>Price</small>
                    <span class="right">100.000
                        <i>BTC</i>
                    </span>

                </div>
                <div class="col s12">

                    <small>Subtotal</small>
                    <span class="right">100.000
                        <i>BTC</i>
                    </span>

                </div>
                <div class="col s12">

                    <small>Commission</small>
                    <span class="right">100.000
                        <i>BTC</i>
                    </span>

                </div>
                <div class="col s12">
                    <div class="divider"></div>
                    <br>
                    <small>
                        <b>Total</b>
                    </small>
                    <span class="right">
                        <b>
                            100.000 BTC
                        </b>
                    </span>

                </div>
            </div>
            <div class="modal-footer" style="padding-right:10px">
                <button id="agree-order" class=" white-text right  btn-flat" style="background-image:url('images/patter.png');background-size:cover;">Agree</button>
                <button id="goback" class="red-text right  btn-flat">Go back</button>
            </div>
            <div class="col s12" style="height:15px;"></div>
        </div>
    </div>
    <!-- ORDER DETAIL POPUP -->














    <!-- RATE AND INFO -->
    <div class="row" style="padding:0px;margin:5px;">
        <div class="card z-depth-5 col l8 s12" style="padding:0px;border-radius:10px;">
            <h5 class="center-align" style="font-weight:bold">Rate Chart</h5>
            <div id="chartdiv"></div>
            <div class="col s12 hide-on-small-only" style="height:65px;"></div>
        </div>
        <div class="col l4 s12" style="margin-top:0px;">
            <div class="card z-depth-3" style="padding:0px;border-radius:10px;overflow: hidden;">
                <div class="row center" style="padding:0px;">
                    <div class="col s12" style="padding:0px;">
                        <div class="" style="width:100%;box-sizing:border-box;padding:20px;background-image:url('images/patter.png');background-size:cover;background-position:0px -70%">
                            <img src="https://seeklogo.com/images/D/dentacoin-dcn-logo-7349E5EE90-seeklogo.com.png" alt="" style="width:25px;height:25px;display:inline-block;">
                            <br>
                            <b class="white-text" >{{_currencies.full_form}}</b>
                            <center>
                                <button class="ui button center-align z-depth-1 white" id="pcng" style="padding:10px;border-radius:20px;" ng-class="{'green-text': _crypto.positive === 'True', 'red-text': _crypto.positive === 'False'}">%{{_crypto.change}}</button>
                            </center>

                        </div>
                    </div>

                </div>
                <div class="row">
                    <div class="col s6">
                        <p class="blue-text" style="padding:5px;">LAST TRADE</p>
                        <b class="lighten-1 center-align z-depth-1" id="ltd" style="padding:5px;border-radius:20px;display:block;overflow: hidden;">{{_crypto.last_trade}}</b>
                    </div>

                    <div class="col s6">
                        <p class="blue-text" style="padding:5px;">LAST VOLUME</p>
                        <b class="lighten-1 center-align z-depth-1" id="ltv" style="padding:5px;border-radius:20px;display:block">{{_crypto.vol}}</b>
                    </div>
                </div>
                <div class="divider"></div>
                <div class="row">
                    <div class="col s4">
                        <p class="blue-text" style="padding:5px;">24HR VOL</p>
                        <b class="lighten-1 center-align z-depth-1" id="hrvol" style="padding:5px;border-radius:20px;display:block">{{_crypto.vol_24}}</b>
                    </div>

                    <div class="col s4">
                        <p class="blue-text" style="padding:5px;">24HR HIGH</p>
                        <b class="lighten-1 center-align z-depth-1" id="hrhigh" style="padding:5px;border-radius:20px;display:block">{{_crypto.high_24}}</b>
                    </div>

                    <div class="col s4">
                        <p class="blue-text" style="padding:5px;">24HR LOW</p>
                        <b class="lighten-1 center-align z-depth-1" id="hrlow" style="padding:5px;border-radius:20px;display:block">{{_crypto.low_24}}</b>
                    </div>
                </div>
                <div class="divider"></div>
                <br/>
                <div class="row">
                    <div class="col s6">
                        <p class="blue-text" style="padding:5px;">All Time High</p>
                        <b class="lighten-1 center-align z-depth-1" id="ath" style="padding:5px;border-radius:20px;display:block"></b>
                    </div>
                    <div class="col s6">
                        <p class="blue-text" style="padding:5px;">All Time Low</p>
                        <b class="lighten-1 center-align z-depth-1" id="atl" style="padding:5px;border-radius:20px;display:block"></b>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <!-- RATE AND INFO -->
















    <!-- BUY ORDER SCREEN -->
    <div id="buy-order-screen" class="row" style="display:none;padding:0px;">
        <div class="col l4 offset-l4 s12 white ref-anim z-depth-5" style="position:fixed;z-index:99999;height:120%;top:-8px;padding:0px">
            <div class="card z-depth-0" style="padding:0px">
                <div class="row center" style="padding:0px;">
                    <div class="col s12" style="padding:0px;">
                        <div class=" white-text" style="padding:15px;width:100%;background-image:url('images/patter.png');background-size:cover;background-position:0px -655px;">
                            <i class="fas fa-credit-card fa-2x"></i> Buy DentaCoin
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col s7">
                        <div class="ui">
                            Aviable balance (INR)
                        </div>
                    </div>
                    <div class="col s5">
                        <div class="ui right">
                            20,000/-
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col s12 l12">
                        <form action="">
                            <div class="row">
                                <div class="input-field col s12">
                                    <input id="buy_amnt" type="text" class="validate blue-text">
                                    <label for="buy_amnt">Enter Amount</label>
                                </div>
                                <div class="input-field col s12">
                                    <input id="buy_price" type="tel" class="validate">
                                    <label for="buy_price">Enter Price</label>
                                </div>
                            </div>
                            <p class="center-align" style="font-weight: bolder">Approx (INR):2000/-</p>
                        </form>
                    </div>
                </div>
                <div class="row">
                    <div class="col s12 l12">
                        <button id="buybtn" class="ui fluid animated button right blue white-text" tabindex="0">
                            BUY NOW
                        </button>
                    </div>
                </div>
                <div class="row">
                    <div class="col s6 l4 offset-l2">
                        <div class="ui message mini center">
                            Min DCN 1000
                        </div>
                    </div>
                    <div class="col s6 l4">
                        <div class="ui message mini center">
                            Max DCN 200000
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col s6 offset-s6 l6 offset-l3">
                        <br>
                        <button id="close-buy-order-screen" class="ui button red right s12 col ">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- BUY ORDER SCREEN -->













    <!-- SELL ORDER SCREEN -->
    <div id="sell-order-screen" class="row" style="display:none;padding:0px;">
        <div class="col l4 offset-l4 s12 white ref-anim" style="position:fixed;z-index:999999;top:-8px;height:120%;padding:0px;">
            <div class="card z-depth-0" style="padding:0px;">
                <div class="row center" style="padding:0px;">
                    <div class="col s12" style="padding:0px;">
                        <div class=" white-text" style="padding:15px;width:100%;background-image:url('images/patter.png');background-size:cover;background-position:0px -655px;">
                            <i class="fas fa-credit-card fa-2x"></i>Sell DentaCoin
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col s7">
                        <div class="ui">
                            Aviable balance (DCN)
                        </div>
                    </div>
                    <div class="col s5">
                        <div class="ui right">
                            20,000/-
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col s12 l12">
                        <form action="">
                            <div class="row">
                                <div class="input-field col s12">
                                    <input id="sell_amnt" type="text" class="validate blue-text">
                                    <label for="sell_amnt">Enter Amount</label>
                                </div>
                                <div class="input-field col s12">
                                    <input id="sell_price" type="tel" class="validate">
                                    <label for="sell_price">Enter Price</label>
                                </div>
                            </div>
                            <p class="center-align" style="font-weight: bolder">Approx (INR):2000/-</p>
                        </form>
                    </div>
                </div>
                <div class="row">
                    <!--div class="col s12">
                        <div class="col s6 green-text right-align">Fees</div>
                        <div class="col s6 center">100/- (INR)
                            <div class="divider"></div>
                        </div>
                    </div-->
                    <!--div class="col s12">
                        <div class="col s6 offset-s6 center">200/- (INR)</div>
                    </div-->
                </div>
                <div class="row">

                    <div class="col s12 l12">
                        <button id="sellbtn" class="col s12 ui button  blue white-text">
                            SELL NOW
                        </button>
                    </div>
                </div>
                <div class="row">
                    <div class="col s6 l4 offset-l2">
                        <div class="ui message mini center">
                            Min DCN 1000
                        </div>
                    </div>
                    <div class="col s6 l4">
                        <div class="ui message mini center">
                            Max DCN 200000
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col s6 offset-s6 l6 offset-l3">
                        <br>
                        <button id="close-sell-order-screen" class="ui button red right s12 col ">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- SELL ORDER SCREEN -->










    <!-- ORDER PLACING POPUP -->
    <div id="order-placing-popup-load" class="row" style="display:none">
        <div class="card col l4 offset-l4 s8 offset-s2 z-depth-5 center animated slideInDown" style="position:fixed;z-index:9999999999;top:150px;border-radius:10px;">
            <h4>Please Wait..</h4>
            <!-- <div class="progress grey lighten-4">
                <div class="indeterminate blue"></div>
            </div> -->
            <div class="preloader-wrapper big active">
                <div class="spinner-layer spinner-blue-only">
                    <div class="circle-clipper left">
                        <div class="circle"></div>
                    </div>
                    <div class="gap-patch">
                        <div class="circle"></div>
                    </div>
                    <div class="circle-clipper right">
                        <div class="circle"></div>
                    </div>
                </div>
            </div>
            <h6>Your Order is placing...</h6>
        </div>
    </div>
    <!-- ORDER PLACING POPUP -->













    <!-- ORDER PLACING POPUP SUCCESS-->
    <div id="order-placing-popup-success" class="row" style="display:none">
        <div class="card col l4 offset-l4 s8 offset-s2 z-depth-5 center animated zoomIn" style="position:fixed;z-index:9999999999;top:150px;border-radius:10px;">
            <h4>Order Placed</h4>
            <center>
                <i class="fas fa-check fa-3x green-text animated zoomIn"></i>
            </center>
            <h4 class="green-text">
                <b>Successfully</b>
            </h4>

        </div>
    </div>
    <!-- ORDER PLACING POPUP SUCCESS -->














    <!-- ORDER PLACING POPUP ERROR-->
    <div id="order-placing-popup-error" class="row" style="display:none">
        <div class="card col l4 offset-l4 s8 offset-s2 z-depth-5 center animated zoomIn" style="position:fixed;z-index:9999999999;top:150px;border-radius:10px;">
            <h4>Something</h4>
            <center>
                <i class="fas fa-times fa-3x red-text animated  zoomIn"></i>
            </center>
            <h4 class="red-text">
                <b>Wrong</b>
            </h4>
        </div>
    </div>
    <!-- ORDER PLACING POPUP ERROR -->












    <!-- BIDS AND ASKS -->
    <div class="row card z-depth-5" style="padding:0px;border-radius:10px;margin:10px;overflow: hidden;">
        <div class="col l6 s6" style="padding:0px;">
            <br>
            <h4 class="center-align" style="margin:0px">
                <b>BIDS</b>
            </h4>
            <br>

            <table class=" centered col s12" id="bid_table" style="border-right: 1px dashed #aaa;">
                <thead>
                    <tr class="row">
                        <th class="col s4">
                            <small>Volume</small>
                        </th>
                        <th class="col s4">
                            <small>Price</small>
                        </th>
                        <th class="col s4">
                            <small>Amount</small>
                        </th>
                    </tr>
                </thead>

                <tbody id="bidsBody">
                    <tr ng-show='_buy_orders.length > 0' class="row" ng-repeat="bids in _buy_orders | limitTo:10:bids_bigin">
                        <td class="col s4 green-text" style="padding:5px;"><small >{{bids.vol}}</small></td>
                        <td class="col s4 green-text" style="padding:5px;"><small >{{bids.value}}</small></td>
                        <td class="col s4 green-text" style="padding:5px;"><small >{{bids.price}}</small></td>
                    </tr>
                    <tr ng-show='_buy_orders.length <= 0'>
                        <td colspan="3">Now Bids Found</td>
                    </tr>


                </tbody>
            </table>
            <div class="col s12" style="height:50px;"></div>
            <div class="col s6" style="padding:0px;padding-bottom:10px;position:absolute;bottom:0px;">
                <button  ng-click="bidsPrev()" ng-show='_buy_orders.length > 0' class="col s5 offset-s1 ui button mini green accent-3">Prev</button>
                <button ng-click='bidsNext()' ng-show='_buy_orders.length > 0' class="col s5 ui button mini  green accent-3">Next</button>
            </div>

        </div>
        <div class="col l6 s6" style="padding:0px;">
            <br>
            <h4 class="center-align" style="margin:0px;">
                <b>ASK</b>
            </h4>
            <br>
            <table class=" centered  col s12" id="bid_table" style="border-left: 1px dashed #aaa;">
                <thead>
                    <tr class="row">
                        <th class="col s4">
                            <small>Amount</small>
                        </th>
                        <th class="col s4">
                            <small>Price</small>
                        </th>
                        <th class="col s4">
                            <small>Volume</small>
                        </th>
                    </tr>
                </thead>

                <tbody id="askBody">
                    <tr class="row" ng-repeat="ask in _sell_orders | limitTo:10:ask_bigin">
                        <td class="col s4 red-text" style="padding:5px;"><small>{{ask.price}}</small></td>
                        <td class="col s4 red-text" style="padding:5px;"><small>{{ask.value}}</small></td>
                        <td class="col s4 red-text" style="padding:5px;"><small>{{ask.vol}}</small></td>
                    </tr>
                     <tr ng-show='_sell_orders.length <= 0'>
                        <td colspan="3">Now Ask Found</td>
                    </tr>

                </tbody>
            </table>
            <div class="col s12" style="height:50px;"></div>
            <div class="col s6" style="padding:0px;padding-bottom:10px;position:absolute;bottom:0px;">
                    <button ng-click="askPrev()" ng-show='_sell_orders.length > 0' class="col s5 offset-s1 ui button mini red accent-3">Prev</button>
                    <button ng-click="askNext()" ng-show='_sell_orders.length > 0' class="col s5 ui button mini  red accent-3">Next</button>
                </div>

        </div>

    </div>
    <!-- BIDS AND ASKS -->











    <!-- PENDING ORDERS START -->
    <div class="row hide card z-depth-5" style="padding:0px;border-radius:10px;margin:10px;overflow:hidden;">
        <div class="col l12 s12" style="padding:0px;">
            <br>
            <h4 class="center-align" style="margin:0px">
                <b>PENDING ORDERS</b>
            </h4>
            <br>
            <div style="overflow-x: scroll;">
            <table class=" centered col s12" id="bid_table">
                <thead>
                    <tr>
                        <th>
                            <small>Amount</small>
                        </th>
                        <th>
                            <small>Fee</small>
                        </th>
                        <th>
                            <small>Filled</small>
                        </th>
                        <th >
                            <small>Id</small>
                        </th>
                        <th>
                            <small>Price</small>
                        </th>
                        <th>
                            <small>Status</small>
                        </th>
                        <th>
                            <small>Date</small>
                        </th>
                        <th>
                            <small>Time</small>
                        </th>
                        <th>
                            <small>Type</small>
                        </th>
                        <th>
                            <small>Value</small>
                        </th>
                    </tr>
                </thead>

                <tbody id="bidsBody">
                    <tr ng-class="{'green-text':pend.type=='Buy','red-text':pend.type=='Sell'}" ng-show='_orders_pending.length > 0' class="row" ng-repeat="pend in _orders_pending | limitTo:10:pend_bigin">
                        <td  style="padding:5px;"><small>{{pend.amount}}</small></td>
                        <td  style="padding:5px;"><small>{{pend.fee}}</small></td>
                        <td  style="padding:5px;"><small>{{pend.filled}}</small></td>
                        <td  style="padding:5px;"><small>{{pend.id}}</small></td>
                        <td  style="padding:5px;"><small>{{pend.price}}</small></td>
                        <td  style="padding:5px;"><small>{{pend.status}}</small></td>
                        <td  style="padding:5px;"><small>{{pend.time | date:'dd/MM/yy'}}</small></td>
                        <td  style="padding:5px;"><small>{{pend.time | date:'hh:mm:a'}}</small></td>
                        <td  style="padding:5px;"><small>{{pend.type}}</small></td>
                        <td  style="padding:5px;"><small>{{pend.value}}</small></td>
                    </tr>
                    <tr ng-show='_buy_orders.length <= 0'>
                        <td colspan="5">Now History Found</td>
                    </tr>


                </tbody>
            </table>
            </div>
            <div class="col s12" style="height:50px;"></div>
            <div class="col s12" style="padding:0px;padding-bottom:10px;position:absolute;bottom:0px;">
                <button  ng-click="pendPrev()" ng-show='_orders_pending.length > 0' class="col s5 offset-s1 ui button mini green accent-3">Prev</button>
                <button ng-click='pendNext()' ng-show='_orders_pending.length > 0' class="col s5 ui button mini  red accent-3">Next</button>
            </div>

        </div>
    </div>
    <!-- PENDING ORDERS END -->









    <!-- COMPLETE ORDERS START -->
    <div class="row hide card z-depth-5" style="padding:0px;border-radius:10px;margin:10px;overflow: hidden;">
        <div class="col l12 s12" style="padding:0px;">
            <br>
            <h4 class="center-align" style="margin:0px">
                <b>COMPLETE ORDERS</b>
            </h4>
            <br>

            <div style="overflow-x: scroll;">
                <table class=" centered col s12" id="bid_table">
                    <thead>
                        <tr>
                            <th>
                                <small>Amount</small>
                            </th>
                            <th>
                                <small>Fee</small>
                            </th>
                            <th>
                                <small>Filled</small>
                            </th>
                            <th >
                                <small>Id</small>
                            </th>
                            <th>
                                <small>Price</small>
                            </th>
                            <th>
                                <small>Status</small>
                            </th>
                            <th>
                                <small>Date</small>
                            </th>
                            <th>
                                <small>Time</small>
                            </th>
                            <th>
                                <small>Type</small>
                            </th>
                            <th>
                                <small>Value</small>
                            </th>
                        </tr>
                    </thead>
    
                    <tbody id="bidsBody">
                        <tr ng-class="{'green-text':comp.type=='Buy','red-text':comp.type=='Sell'}" ng-show='_orders_complete.length > 0' class="row" ng-repeat="comp in _orders_complete | limitTo:10:comp_bigin">
                            <td  style="padding:5px;"><small>{{comp.amount}}</small></td>
                            <td  style="padding:5px;"><small>{{comp.fee}}</small></td>
                            <td  style="padding:5px;"><small>{{comp.filled}}</small></td>
                            <td  style="padding:5px;"><small>{{comp.id}}</small></td>
                            <td  style="padding:5px;"><small>{{comp.price}}</small></td>
                            <td  style="padding:5px;"><small>{{comp.status}}</small></td>
                            <td  style="padding:5px;"><small>{{comp.time | date:'dd/MM/yy'}}</small></td>
                            <td  style="padding:5px;"><small>{{comp.time | date:'hh:mm:a'}}</small></td>
                            <td  style="padding:5px;"><small>{{comp.type}}</small></td>
                            <td  style="padding:5px;"><small>{{comp.value}}</small></td>
                        </tr>
                        <tr ng-show='_buy_orders.length <= 0'>
                            <td colspan="5">Now History Found</td>
                        </tr>
    
    
                    </tbody>
                </table>
            </div>
            <div class="col s12" style="height:50px;"></div>
            <div class="col s12" style="padding:0px;padding-bottom:10px;position:absolute;bottom:0px;">
                    <button  ng-click="compPrev()" ng-show='_orders_complete.length > 0' class="col s5 offset-s1 ui button mini green accent-3">Prev</button>
                    <button ng-click='compNext()' ng-show='_orders_complete.length > 0' class="col s5 ui button mini  red accent-3">Next</button>
            </div>

        </div>
    </div>
    <!-- COMPLETE ORDERS END -->











    <!-- MARKET ORDERS START -->
    <div class="row hide card z-depth-5" style="padding:0px;border-radius:10px;margin:10px;overflow: hidden;">
        <div class="col l12 s12" style="padding:0px;">
            <br>
            <h4 class="center-align" style="margin:0px">
                <b>MARKET HISTORY</b>
            </h4>
            <br>

            <table class=" centered col s12" id="bid_table">
                <thead>
                    <tr>
                        <th>
                            <small>Amount</small>
                        </th>
                        <th>
                            <small>Price</small>
                        </th>
                        <th>
                            <small>Time</small>
                        </th>
                        <th >
                            <small>Type</small>
                        </th>
                        <th>
                            <small>Value</small>
                        </th>
                    </tr>
                </thead>

                <tbody id="bidsBody">
                    <tr ng-class="{'green-text':hist.type=='Buy','red-text':hist.type=='Sell'}" ng-show='_buy_orders.length > 0' class="row" ng-repeat="hist in _market_history | limitTo:10:hist_bigin">
                        <td  style="padding:5px;"><small>{{hist.amount}}</small></td>
                        <td  style="padding:5px;"><small>{{hist.price}}</small></td>
                        <td  style="padding:5px;"><small>{{hist.time}}</small></td>
                        <td  style="padding:5px;"><small>{{hist.type}}</small></td>
                        <td  style="padding:5px;"><small>{{hist.value}}</small></td>
                    </tr>
                    <tr ng-show='_buy_orders.length <= 0'>
                        <td colspan="5">Now History Found</td>
                    </tr>


                </tbody>
            </table>
            <div class="col s12" style="height:50px;"></div>
            <div class="col s12" style="padding:0px;padding-bottom:10px;position:absolute;bottom:0px;">
                <button  ng-click="histPrev()" ng-show='_market_history.length > 0' class="col s5 offset-s1 ui button mini green accent-3">Prev</button>
                <button ng-click='histNext()' ng-show='_market_history.length > 0' class="col s5 ui button mini  red accent-3">Next</button>
            </div>

        </div>
    </div>
    <!-- MARKET ORDERS END -->













    <!-- TRADE COIN DROPDOWN -->
    <div id="tradepopup" class="row white z-depth-5" style="opacity:1;display:none;height:500px;padding:5px;border-radius:10px;width:500px;position: fixed;top:60px;right:125px;z-index:99999;">
            <h6 class="grey-text" style="padding:10px 0px 0px 10px;"><b>Choose Currency</b></h6>
            <div class="row" id="coinParent">
                <a href="" class="col s4" style="padding-top:5px;;display:flex;line-height:5px;height:40px;border-radius:10px;">
                    <img src="images/smalllogo/btc.png" alt="" style="position: absolute;">
                    <p class="grey-text" style="position:absolute;margin-left:34px;font-size:.8em;"><b>BITCOIN</b></p>
                </a>
            </div>
            
    </div>
    <!-- TRADE COIN DROPDOWN -->











    <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
    <script type="text/javascript" src="js/orderbook/mychart.js"></script>
    <script type="text/javascript" src="js/orderbook/new_orderbook_util.js"></script>
    <script type="text/javascript" src="js/orderbook/order_angular_table.js"></script>
    <script src="js/navbar.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mouse0270-bootstrap-notify/3.1.5/bootstrap-notify.min.js">
    </script>
    <script>
        $(document).ready(function () {
            // the "href" attribute of the modal trigger must specify the modal ID that wants to be triggered
            $('.modal').modal();

            $('.button-collapse').sideNav({
                menuWidth: 300, // Default is 300
                edge: 'left', // Choose the horizontal origin
                closeOnClick: true, // Closes side-nav on <a> clicks, useful for Angular/Meteor
                draggable: true, // Choose whether you can drag to open on touch screens,
                onOpen: function (el) { /* Do Stuff*/ },
                onClose: function (el) { /* Do Stuff*/ }
            });

            $('#tradelink').on('click', function (e) {
                    e.preventDefault();
                    $('#tradepopup').slideToggle().animate({
                        "top": "60px"
                    }, "50");
                }

            );

        });
    </script>
</body>

</html>