<!DOCTYPE html>
<html lang="en" ng-app="TableModule">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/1_style.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
    <title>Document</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angularFire/2.3.0/angularfire.js"></script>
    <script src="https://www.gstatic.com/firebasejs/4.13.0/firebase.js"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome-animation/0.1.0/font-awesome-animation.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.14/components/button.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.14/components/list.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.14/components/message.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
</head>

<body class="white" ng-controller="tablectrl as tb">

    


   

    <!--NAVIGATION BAR-->
    <div class="navbar-fixed">
        <nav class="nav-extended z-depth-0" style="background:-webkit-linear-gradient(180deg, rgb(46, 49, 146) 0%, rgb(41, 171, 226) 100%);"> 
            <div class="nav-wrapper" id="mywalletnav">
                <a href="index.html" class="brand-logo" style="padding-left:50px;">BuyUCoin
                    <span id="total-balance" class="hide">
                    <small style="font-size:.4em;">TOTAL BALANCE</small>
                    <b style="font-size:1em;">34,67800/-</b>
                    </span>
                </a>
                <a href="#" data-activates="slide-out" class="button-collapse show-on-large">
                    <i class="material-icons">menu</i>
                </a>
                <ul class="right hide-on-med-and-down myappmenu">
                    <li class="active">
                        <a href="">
                            <i class="material-icons left">account_balance_wallet</i>Wallet</a>
                    </li>
                    <li>
                        <a id="tradelink">
                            <i class="material-icons left">shopping_cart</i>Trade</a>
                    </li>
                    <li>
                        <a href="rates.html">
                            <i class="material-icons left">assessment</i>Rates</a>
                    </li>
                    <li>
                        <a href="">
                            <i class="material-icons left">transfer_within_a_station</i>LogOut</a>
                    </li>
                </ul>
            </div>
            <div class="nav-content">
                <span class="nav-title" style="padding-left:30px;font-size:12px;">TOTAL BALANCE <br>
                   <b style="font-size:2em;">34,67800/-</b>
                </span>
            </div>
        </nav>
    </div>
    <!--SIDEBAR-->

    <ul id="slide-out" class="side-nav" style="width:250px;border-radius:0px;padding:0px;">
        <li>
            <div class="user-view">
                <div class="background" style="background-image:url('images/patter.png');background-size:cover;background-position: 0px -90px; background-repeat: no-repeat;">
                </div>
                <a href="#!user">
                    <img class="circle" src="images/avatar.png">
                </a>
                <a href="#!name">
                    <span class="white-text name">John Doe</span>
                </a>
                <a href="#!email">
                    <span class="white-text email">jdandturk@gmail.com</span>
                </a>
            </div>
        </li>
        <li class="active">
            <a href="index.html">
                <i class="material-icons left ">account_balance_wallet</i>Wallet</a>
        </li>
        <li class="no-padding">
            <ul class="collapsible collapsible-accordion">
              <li>
                <a class="collapsible-header">Dropdown<i class="material-icons">arrow_drop_down</i></a>
                <div class="collapsible-body">
                  <ul>
                    <li><a href="#!">First</a></li>
                    <li><a href="#!">Second</a></li>
                    <li><a href="#!">Third</a></li>
                    <li><a href="#!">Fourth</a></li>
                  </ul>
                </div>
              </li>
            </ul>
          </li>
        <li>
            <a href="new_orderbook.html">
                <i class="material-icons left">monetization_on</i>Dentacoin</a>
        </li>
        <li>
            <a href="rate_new_anguler.html">
                <i class="material-icons left">assessment</i>Rates</a>
        </li>
        <li>
            <a href="kyc.html">
                <i class="material-icons left">chrome_reader_mode</i>KYC</a>
        </li>
        <li>
            <a href="users.html">
                <i class="material-icons left">account_circle</i>User Info</a>
        </li>
        <li>
            <a href="">
                <i class="material-icons left">pan_tool</i>Become Seller</a>
        </li>
        <li>
            <a href="">
                <i class="material-icons left">pan_tool</i>Become Seller</a>
        </li>
        <li>
            <a href="">
                <i class="material-icons left">transfer_within_a_station</i>LogOut</a>
        </li>



    </ul>

    <!--SIDEBAR-END-->

    <div class="row" id="anim_row" style="height:70px"></div>

    <div class="row" style="padding:0px;">
        <div class="col s12" style="padding:0px;">
            <ul class="tabs blue darken-2">
              <li class="tab col s3"><a class="active" href="#test1"><b>Deposite</b></a></li>
              <li class="tab col s3"><a href="#test2"><b>Withdraws</b></a></li>
              <li class="tab col s3"><a href="#test3"><b>Orders</b></a></li>
            </ul>
          </div>
          <div id="test1" class="col s12" style="padding:0px;">
              <div class="row card z-depth-1" style="padding:0px;border-radius:10px;margin:10px;overflow: hidden;">
                    <div class="col l12 s12" style="padding:0px;">
                        <br>
                        <h4 class="center-align" style="margin:0px">
                            <b>COMPLETE ORDERS</b>
                        </h4>
                        <br>
            
                        <div style="overflow-x: scroll;">
                            <table class=" centered col s12" id="bid_table">
                                <thead>
                                    <tr>
                                        <th>
                                            <small>Amount</small>
                                        </th>
                                        <th>
                                            <small>Fee</small>
                                        </th>
                                        <th>
                                            <small>Filled</small>
                                        </th>
                                        <th >
                                            <small>Id</small>
                                        </th>
                                        <th>
                                            <small>Price</small>
                                        </th>
                                        <th>
                                            <small>Status</small>
                                        </th>
                                        <th>
                                            <small>Date</small>
                                        </th>
                                        <th>
                                            <small>Time</small>
                                        </th>
                                        <th>
                                            <small>Type</small>
                                        </th>
                                        <th>
                                            <small>Value</small>
                                        </th>
                                    </tr>
                                </thead>
                
                                <tbody id="bidsBody">
                                    <tr ng-class="{'green-text':comp.type=='Buy','red-text':comp.type=='Sell'}" ng-show='_orders_complete.length > 0' class="row" ng-repeat="comp in _orders_complete | limitTo:10:comp_bigin">
                                        <td  style="padding:5px;"><small>{{comp.amount}}</small></td>
                                        <td  style="padding:5px;"><small>{{comp.fee}}</small></td>
                                        <td  style="padding:5px;"><small>{{comp.filled}}</small></td>
                                        <td  style="padding:5px;"><small>{{comp.id}}</small></td>
                                        <td  style="padding:5px;"><small>{{comp.price}}</small></td>
                                        <td  style="padding:5px;"><small>{{comp.status}}</small></td>
                                        <td  style="padding:5px;"><small>{{comp.time | date:'dd/MM/yy'}}</small></td>
                                        <td  style="padding:5px;"><small>{{comp.time | date:'hh:mm:a'}}</small></td>
                                        <td  style="padding:5px;"><small>{{comp.type}}</small></td>
                                        <td  style="padding:5px;"><small>{{comp.value}}</small></td>
                                    </tr>
                                    <tr ng-show='_buy_orders.length <= 0'>
                                        <td colspan="5">Now History Found</td>
                                    </tr>
                
                
                                </tbody>
                            </table>
                        </div>
                        <div class="col s12" style="height:50px;"></div>
                        <div class="col s12" style="padding:0px;padding-bottom:10px;position:absolute;bottom:0px;">
                                <button  ng-click="compPrev()" ng-show='_orders_complete.length > 0' class="col s5 offset-s1 ui button mini green accent-3">Prev</button>
                                <button ng-click='compNext()' ng-show='_orders_complete.length > 0' class="col s5 ui button mini  red accent-3">Next</button>
                        </div>
            
                    </div>
                </div>
          </div>
          <div id="test2" class="col s12">
            <ul class="collapsible z-depth-0" style="border:none;">
                <li>
                  <div class="collapsible-header orange-text"><i class="material-icons">fiber_manual_record</i>Pending</div>
                  <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
                </li>
                <li>
                  <div class="collapsible-header light-blue-text"><i class="material-icons">fiber_manual_record</i>Successful</div>
                  <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
                </li>
                <li>
                  <div class="collapsible-header green-text"><i class="material-icons">fiber_manual_record</i>Canceld</div>
                  <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
                </li>
                <li>
                  <div class="collapsible-header red-text"><i class="material-icons">fiber_manual_record</i>Failed</div>
                  <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
                </li>
              </ul>
          </div>
          <div id="test3" class="col s12">
            <ul class="collapsible z-depth-0" style="border:none;">
                <li>
                  <div class="collapsible-header orange-text"><i class="material-icons">fiber_manual_record</i>Pending</div>
                  <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
                </li>
                <li>
                  <div class="collapsible-header light-blue-text"><i class="material-icons">fiber_manual_record</i>Successful</div>
                  <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
                </li>
                <li>
                  <div class="collapsible-header red-text"><i class="material-icons">fiber_manual_record</i>Canceld</div>
                  <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
                </li>

              </ul>
          </div>
    </div>


   
   

   


    

       

    



    
   










    <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
    <script type="text/javascript" src="js/orderbook/order_angular_table.js"></script>
    <script type="text/javascript" src="js/navbar.js"></script>
    
    <script>
        $(document).ready(function () {

            setTimeout(()=>{
                $('#splash').css({"top":"400px","opacity":"0"});
                $('#splash-screen').hide(300);
            },3000);
            $('.collapsible').collapsible();


            $('.tooltipped').tooltip({
                delay: 50
            });

            

            $('#tradelink').on('click',function(e){
                e.preventDefault();
                    $('#tradepopup').slideToggle().animate({ "top": "60px"}, "50" );
                }
                
        );





            $('.modal').modal();
            //$("#tutorial-popup").modal('open');
                
            $('select').material_select();
            
            






            $('.button-collapse').sideNav();

            $('.datepicker').pickadate({
                selectMonths: true, // Creates a dropdown to control month
                selectYears: 15, // Creates a dropdown of 15 years to control year,
                today: 'Today',
                clear: 'Clear',
                close: 'Ok',
                closeOnSelect: false // Close upon selecting a date,
            });

           

           


            $("#btn1").on('click', function () {
                console.log("hi");
                var x = document.getElementsByTagName('ul')[7];
                var v = x.getBoundingClientRect();
                var t = v.top;
                $(window).scrollTop(Math.round(t));
                console.log(v);
                $(".collapsible-header").addClass("active");
                $(".collapsible").collapsible({
                    accordion: false
                });
                $('ul.tabs').tabs('select_tab', 'test5');
            });

            $("#btn2").on('click', function () {
                console.log("hi");
                $(".collapsible-header").addClass("active");
                $(".collapsible").collapsible({
                    accordion: false
                });
                $('ul.tabs').tabs('select_tab', 'test4');
            });





        });

        
    </script>
</body>

</html>